name: Zain_Final_Bot
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Tools
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg -y
          pip install yt-dlp requests

      - name: Run Python
        env:
          FB_TOKEN: ${{ secrets.FB_TOKEN }}
          PAGE_ID: ${{ secrets.PAGE_ID }}
        run: python main.py
