name: AI_Reels_Auto_Publisher

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'pip'

      - name: Install System FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install requests google-generativeai python-dotenv

      - name: Run Script
        env:
          FB_TOKEN: ${{ secrets.FB_TOKEN }}
          PAGE_ID:  ${{ secrets.PAGE_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
        run: python main.py
